/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

#menu-container {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
  zoom: 90%;
}

/* CSS Variables */
:root {
  --navbar-height: 59px;
}
/* body{
      background-color: whitesmoke(214, 210, 210);
  
      position:fixed;
      top:0;
      bottom:0;
      left:0;
      right:0;
  } */

/* Navigation Bar */
#navbar {
  z-index: 99999;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  border-bottom: #171313;
}

#navbar::before {
  content: "";
  background-color: whitesmoke;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
}

/* Navigation Bar: Logo and Image */
#logo {
  color: white;
  display: flex;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#logo-name {
  display: block;
  padding: 24px 5px;
  border-radius: 20px;
  font-size: 18px;
  color: #171313;
}

.logo-img {
  height: 59px;
  margin: 3px 6px;
}
/* Navigation Bar: search */
.inline-block {
  display: block;
  width: 950px;
  height: 40px;
}
.form-input {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
  border: 1px solid black;
  height: 40px;
}
#id_title {
  width: 82%;
}
#id_tags {
  display: block;
  position: absolute;
  width: 200px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow-y: scroll;
  height: auto;
}
#div_id_tags {
  position: absolute;
  right: 0;
  top: 90px;
}
.dropdown {
  display: flex;
  /* position: absolute; */
  right: 72px;
  top: 23px;
  margin-right: 10px;
}
/* Navigation Bar: List Styling */

#navbar ul {
  display: flex;
}
#dropdownMenuButton {
  position: relative;
  left: 245px;
  bottom: 22px;
  margin-right: 10px;
}

.dropdown-menu.show {
  right: -236px;
  left: auto;
  top: 25px;
  background-color: rgba(255, 243, 176, 0.98);
  /* border: 2px solid #b3b3b3; */
  box-shadow: 2px 2px #3b3b3b;
}

.notif-head {
  font-size: 18px;
  font-weight: bold;
  background-color: #ffffff;
}
.notif-time {
  font-size: 12px;
}

#search {
  left: 1310px;
  position: absolute;
  top: 24.5px;
}
#id_favouriteTags {
  height: 600px;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: black;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* ----left component */
#left {
  position: fixed;
  float: left;
  width: 340px;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  align-items: unset;
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  margin-top: 89px;
  margin-left: -0.6%;
  background-color: #412c49;
}
#left::-webkit-scrollbar {
  display: none;
}
#left a {
  text-decoration: none;
  text-align: left;
  font-size: 1.6rem;
  color: #171313;
}
#H-img {
  float: left;
}
#Q-img {
  max-width: 100%;
  max-height: 60%;
  padding-bottom: -5px;
  margin-bottom: -5px;
  float: left;
}
#T-img {
  max-width: 100%;
  max-height: 60%;
  float: left;
}
#U-img {
  max-width: 100%;
  max-height: 40%;
  float: left;
}

#left a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  /* border:1px solid black; */
  font-weight: 100;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#right {
  position: fixed;
  right: 0px;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  float: left;
  width: 340px;
  padding-top: 1%;
  margin-top: 89px;
  margin-left: -0.6%;
}
#right::-webkit-scrollbar {
  display: none;
}

.tags-box {
  padding: 8px 20px;
  font-size: 20px;
  background-color: rgb(241, 241, 241);
  border: 2px solid rgb(204, 204, 204);
}

.sect {
  margin: 6px 12px;
  padding: 6px 13px;
}

.comp {
  margin: -3px 8px;
  padding: 0px 10px;
  font-weight: bold;
  color: whitesmoke;
  transition-duration: 0.4s;
}
.comp:hover,
.sect.active,
.sect.active div {
  color: #171313;
  background-color: whitesmoke;
}

.navbar > .container,
.navbar > .container-fluid {
  margin-left: 0px;
}

.navbar-brand {
  font-size: xx-large;
}

input[type="search"] {
  margin-left: 50px;
  border-radius: 5px;
}

.content {
  position: absolute;
  top: 105px;
  left: 350px;
  min-width: 100px !important;
  max-width: 1000px !important;
}

.profile {
  /* border: 2px solid black; */
  display: flex;
  float: left;
  width: 70%;
  height: 77vh;
  margin-top: 28px;
  margin-left: 22px;
}

#photo {
  /* border: 2px solid black; */
  width: 40%;
  margin: 28px;
  display: flex;
  flex-direction: column;
}

#center-photo {
  /* border: 2px solid black; */
  width: 50%;
  margin: 0em 4.5em;
}

#center-photo img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 5px lightgray solid;
}

form[view="profile"] {
  left: 57px;
  font-size: x-large;
  font-family: sans-serif;
}

.test {
  font-size: xx-large;
}

#data {
  position: absolute;
  left: 600px;
}

.tag_questions {
  color: black;
}

.icon-only-buttons button {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0;
  margin: 0;
}

.icon-only-buttons .fa-ban {
  color: rgb(255, 0, 0);
}
.icon-only-buttons .fa-bookmark {
  color: goldenrod;
}
.icon-only-buttons .fa-star {
  color: lightseagreen;
}

.report-button {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0;
  margin: 0;
}

.fa-thumbs-up {
  color: rgb(0, 160, 0);
}
.fa-thumbs-down {
  color: rgb(160, 0, 0);
}
.card {
  padding: 10px;
  border: 3px solid rgb(201, 201, 201);
}

.ques-stats span {
  width: 25%;
  min-width: 140px;
  text-align: right;
  padding-right: 25px;
}

.question-view {
  padding: 2px 20px;
  overflow: hidden;
  margin-bottom: 5px;
}

.ques-comments {
  padding-left: 60px;
}
.errorlist {
  display: none;
}
.title-mindhive:hover {
  text-decoration: none;
}

.user-box {
  padding: 5px;

}

.modal-backdrop {
  height: 100%;
  width: 100%;
}

.modal-open {
  overflow: auto !important;
}

.comment-text {
  margin: 0px;
  padding: 0px;
  text-align: inherit;
}
.comment-text:focus {
  outline: none;
  box-shadow: none;
}