<!DOCTYPE html>
<html lang="en">

<!-- load static and crispy forms tags -->
{% load static %}
{% load crispy_forms_tags %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- title for the webpage -->
    <title>
        {% block insert_title %}
        Welcome to MindHive
        {% endblock %}
    </title>

    <!-- import bootstrap before any other stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- import fontawesome for cool icons -->
    <script src="https://kit.fontawesome.com/1c64b1c074.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- import custom stylesheet -->
    <link href="{% static 'css/master.css'%}" rel="stylesheet" />

    <!-- import jQuery for like/unlike buttons -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- import font awesome js -->
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
</head>


<body id="page-top">
    <!-- top bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container px-4">
            <!-- MindHive logo -->
            <a href="{% url 'home:view_home'%}" id="logo">
                <img src="{% static 'media/icon.jpg' %}" alt="MindHive" class="logo-img">
            </a>

            <!-- MindHive title -->
            <a class="navbar-brand" href="#page-top">MindHive</a>

            <!-- toggler for navigation bar -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- top navigation bar -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <!-- search bar -->
                    <form class="inline-block" method=get action="{% url  'home:search_results' %}">
                        <input class="form-input" type="search" placeholder="Search" aria-placeholder="Search"
                            name="searched" id="search-input">
                        <input type="submit" class="btn btn-fill btn-primary" value=" Search " id="search">
                    </form>

                    <!-- notifications dropdown -->
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-bell"></i>
                                {% if user.notifications.count %}
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{ user.notifications.count }}
                                </span>
                                {% endif %}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: fit-content;">
                                <a class="dropdown-item notif-head" href="#dropdownMenuButton">NOTIFICATIONS</a>
                                {% if user.notifications.count %}
                                {% for notification in user.notifications.all %}
                                <hr style="margin: 0;">
                                <a class="dropdown-item"
                                    href="{% url 'questions:view_question' notification.target_question.id %}">
                                    {{notification.text}} &nbsp; <span class="notif-time">{{notification.timestamp}}
                                        </short>
                                </a>
                                {% endfor %}
                                {% else %}
                                <hr style="margin: 0;">
                                &nbsp; No new notifications &nbsp;
                                {% endif %}
                            </div>
                        </div>
                    </li>

                    <!-- settings dropdown -->
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Settings
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: fit-content;">
                                {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'users:edit_users' %}">Edit Your Profile</a>
                                <a class="dropdown-item" href="{% url 'users:reset_password' %}">Change Password</a>
                                <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>

                                {% else %}
                                <a class="dropdown-item" href="{% url 'users:login' %}">Login</a>
                                <a class="dropdown-item" href="{% url 'users:signup' %}">Sign Up</a>

                                {% endif %}
                                <a class="dropdown-item" href="mailto:mindhiveiitk@gmail.com">Contact Us</a>
                            </div>
                        </div>
                    </li>
            </div>
        </div>
    </nav>

    <!-- left side bar -->
    <div class='container' id="left">
        <a href="{% url 'home:view_home'%}" class="sect">
            <div class="comp" id="homeButton">
                <i class="fa fa-home"></i>
                &nbsp; Home
            </div>
        </a>
        <a href="{% url 'questions:add_question'%}" class="sect">
            <div class="comp" id="askButton">
                <i class="fa-solid fa-pen-to-square"></i>
                &nbsp; Ask Question
            </div>
        </a>

        <hr color="white" style="border: 0.5px solid rgb(0, 0, 0);" />

        <a href="{% url 'home:view_questions' %}" class="sect">
            <div class="comp" id="questionButton">
                <i class="fa-solid fa-circle-question"></i>
                &nbsp; Questions
            </div>
        </a>

        <a href="{% url 'home:authorQuestions' %}" class="sect">
            <div class="comp" id="questionButton">
                <i class="fa-solid fa-mitten"></i>
                &nbsp; My Questions
            </div>
        </a>

        <a href="{% url 'users:addtags' %}" class="sect">
            <div class="comp" id="tagsButton">
                <i class="fa-solid fa-tags"></i>
                &nbsp; Tags
            </div>
        </a>

        <a href="{% url 'users:users_list' %}" class="sect">
            <div class="comp" id="usersButton">
                <i class="fa-solid fa-users"></i>
                &nbsp; Users
            </div>
        </a>

        <hr color="white" style="border: 0.5px solid rgb(0, 0, 0);" />

        <a href="{%url 'home:following'%}" class="sect">
            <div class="comp" id="followingButton">
                <i class="fa-solid fa-star"></i>
                &nbsp; Following
            </div>
        </a>

        <a href="{%url 'home:bookmarks'%}" class="sect">
            <div class="comp" id="bookmarksButton">
                <i class="fa-solid fa-bookmark"></i>
                &nbsp; Bookmarks
            </div>
        </a>

        <a href="{% url 'users:view_user' user.id%}" class="sect">
            <div class="comp" id="profileButton">
                <i class="fa-solid fa-circle-user"></i>
                &nbsp; View Profile
            </div>
        </a>
    </div>

    <!-- container for the content -->
    <div class="content container">
        {% block insert_content %}
        <!-- ADD CONTENT HERE -->
        {% endblock %}
    </div>

    <!-- right side bar -->
    <div class='container d-flex flex-column h-100' id="right">
        {% block insert_right_bar %}

        {% endblock %}
    </div>

    <!-- bootstrap and popper scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        $(window).on('load', function () {
            $('.modal.fade').appendTo('body');
        })
    </script>
</body>

</html>