{% extends 'base.html'%}
{% load crispy_forms_tags %}
{%block insert_content%}

<div class="profile">
    <div id="photo">
        <div id="center-photo">
            <img src="{{usr.profile_image.url}}" />
        </div>
    </div>
    <div id="data">
        <form class="data-input" action="" view="profile">
            Username<br>
            <x class="test">{{usr.username}}</x>
        </form>
        <p></p>
        <form class="data-input" action="" view="profile">
            Name<br>
            <x class="test">{{usr.name}}</x>
        </form>
        <p></p>
        <form class="data-input" action="" view="profile">
            Roll_no<br>
            <x class="test">{{usr.roll_no}}</x>
        </form>
        <p></p>
        <form class="data-input" action="" view="profile">
            Email<br>
            <x class="test">{{usr.email}}</x>
        </form>
        </div>
    </div>
</div>
{% endblock %}
