{% extends 'base.html' %}

{% block insert_title %}
Questions - MindHive
{% endblock %}

{% block insert_content %}
<h1>
{% block heading %}
    Questions
{% endblock %}
</h1>

<br>

<div class="containers">
    {% if questions %}
    {%for ques in questions%}
    <div class="card" style="padding:5px">
        <a href="{% url 'questions:view_question' question_id=ques.id %}">
            <h2>{{ques.title}}</h2>
        </a>

        <h6>Asked by
            {% if ques.get_author_name == 'Anonymous User' %}
            {{ques.get_author_name}}
            {% else %}
            <a href="{% url 'users:view_user' pk=ques.get_author_id %}">{{ques.get_author_name}}</a>
            {% endif %}
            on {{ques.pub_date}}
            | Viewed by {{ques.viewedBy.all.count}} users
        </h6>
        
        <h6>
            {{ques.answer_set.all.count}} Answers
            &nbsp; &nbsp;
            {% for tag in ques.tags.all %}
            {% if tag in user.favouriteTags.all %}
            <button type="submit" style="background-color: #b9ffa3;">
                {% else %}
                <button type="submit" style="background-color: #ffd992;">
                    {% endif %}
                    <i><a href="#" class="tag_questions">{{tag.name}}</a></i>
                </button>
                {% endfor %}
        </h6>

    </div>
    <br />
    {%endfor%}
    {% else %}
    <h2>
        {% block empty_message %}
        No questions to display.
        {% endblock %}
    </h2>
    {% endif %}
</div>
{% block script %}

{% endblock %}
{% endblock %}