{% extends 'base.html' %}

{% block insert_title %}
Questions - MindHive
{% endblock %}

{% block insert_content %}
<h1 class="container">
    {% block heading %}
    Questions
    {% endblock %}
</h1>

<br>

<div class="container">
    {% if questions %}
    {%for question in questions%}
    <div class="card d-flex flex-row ">
        <div class="d-flex flex-column align-middle ques-stats">
            <span>{{question.viewedBy.count}} views</span>
            <span>{{question.get_votes}} votes</span>
            <span>{{question.answer_set.count}} answers</span>
        </div>

        <div class="d-flex flex-column">
            <a href="{% url 'questions:view_question' question_id=question.id %}" style="text-decoration: none;">
                <h5 style="margin-bottom: 4px;">{{question.title}}</h5>
            </a>

            <div style="margin-bottom: 4px;">{{question.get_summary_text}}</div>

            <div class="d-flex flex-row">
                <span>
                    <form class="follow-bookmark-form icon-only-buttons" style="display:inline">
                        {% csrf_token %}
                        <input type="hidden" name="question_id" value="{{question.id}}">

                        <button type="submit" class="bookmark" name="action" , value="bookmark">
                            {% if user in question.users_bookmarked.all %}
                            <i class="fa-solid fa-bookmark"></i>
                            {% else %}
                            <i class="fa-regular fa-bookmark"></i>
                            {% endif %}
                        </button>

                        <button type="submit" class="follow" name="action" , value="follow">
                            {% if user in question.users_following.all %}
                            <i class="fa-solid fa-star"></i>
                            {% else %}
                            <i class="fa-regular fa-star"></i>
                            {% endif %}
                        </button>
                    </form>

                    <form class="icon-only-buttons" action="{% url 'questions:report' question.id %}" method="GET"
                        style="display:inline">
                        {% csrf_token %}
                        <input type="hidden" name="obj_type" value="q">
                        <button type="submit" name="id" , value={{question.id}}>
                            <i class="fa-solid fa-ban"></i>
                        </button>
                    </form>
                    &nbsp; &nbsp;

                    {% for tag in question.tags.all %}
                    {% if tag in user.favouriteTags.all %}
                    <a class="btn btn-success" style="padding: 0px 8px;" href="#" class="tag_questions">{{tag.name}}</a>
                    {% else %}
                    <a class="btn btn-light" style="padding: 0px 8px; background-color: rgb(255, 227, 189);" href="#"
                        class="tag_questions">{{tag.name}}</a>
                    {% endif %}
                    {% endfor %}
                </span>

                <div class="text-right" style="position: absolute; right: 16px; color: rgb(94, 94, 94);">Asked by
                    {% if question.get_author_name == 'Anonymous User' %}
                    someone
                    {% else %}
                    <a href="{% url 'users:view_user' pk=question.get_author_id %}" style="text-decoration: none;">
                        <i class="fa-solid fa-circle-user"></i>
                        {{question.author.username}}
                    </a>
                    {% endif %}
                    on {{question.pub_date}}
                </div>
            </div>
        </div>
    </div>
    <br />
    {%endfor%}
    {% else %}
    <h2>
        {% block empty_message %}
        No questions to display.
        {% endblock %}
    </h2>
    {% endif %}
</div>

<script>
    $(document).ready(function () {
        $(".follow-bookmark-form").find(':button').click(function (e) {
            var form = $(this).closest('form');
            var dataString = form.serializeArray();
            dataString.push({ name: 'action', value: $(this).val() });
            $.ajax({
                type: "POST",
                url: "{% url 'questions:follow_bookmark' %}",
                data: dataString,
                success: function (data) {
                    var result = JSON.parse(data);
                    if (result['status'] == 'followed') {
                        form.find('.follow i').removeClass("fa-regular").addClass("fa-solid");
                    }
                    else if (result['status'] == 'bookmarked') {
                        form.find('.bookmark i').removeClass("fa-regular").addClass("fa-solid");
                    }
                    else if (result['status'] == 'unfollowed') {
                        form.find('.follow i').removeClass("fa-solid").addClass("fa-regular");
                    }
                    else {
                        form.find('.bookmark i').removeClass("fa-solid").addClass("fa-regular");
                    }
                },
                error: function () {
                    alert("error");
                }
            });
            e.preventDefault();
        });
    });
</script>
{% block script %}

{% endblock %}
{% endblock %}