argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
beautifulsoup4==4.10.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
distlib==0.3.4
Django==3.2.12
django-bootstrap3==21.1
django-ckeditor==6.2.0
django-crispy-forms==1.13.0
django-filter==21.1
django-js-asset==2.0.0
djangorestframework==3.13.1
filelock==3.4.1
idna==3.3
importlib-resources==5.4.0
Markdown
Pillow==9.0.1
pipenv==2022.1.8
platformdirs==2.4.0
pycparser==2.21
pytz==2021.3
requests==2.27.1
selenium==3.141.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
typing_extensions==4.1.1
urllib3==1.26.9
virtualenv==20.13.3
virtualenv-clone==0.5.7
webdriver-manager==3.5.3
zipp==3.6.0
