{% extends 'base.html' %}

{%block insert_content%}
<section>
  <div class="container">
    {% if questions %}
    {%for ques in questions%}
    <div class="card" style="padding:5px">
      <a href="{% url 'questions:view_question' question_id=ques.id %}">
        <h2>{{ques.title}}</h2>
      </a>

      <h6>Asked by {{ques.get_author_name}} on {{ques.pub_date}}
        | Viewed by {{ques.viewedBy.all.count}} users
      </h6>
      <h6>{{ques.answer_set.all.count}} Answers</h6>

    </div>
    <br />
    {%endfor%}
    {% else %}
    <h2>No questions to display.</h2>
    {% endif %}

  </div>
</section>
{%endblock%}