<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    {%block content%}
        {%for user in users%}
            {%if user.blocked == False%}
                Name = {{user.name}}
                UserName = {{user.username}}
                Email = {{user.email}}
                Image = <img src="{{user.profile_image.url}}"/>
                <br>
            {%endif%}
        {%endfor%}
    {%endblock%}
</body>
</html>