{% extends 'base.html'%}

{%block insert_content%}
<body>
    <h1>{{question.title}}</h1>
    <p>
        Asked on {{question.pub_date}} by {{question.get_author_name}} <br><hr>
        <div style="background-color:rgb(222, 237, 241);">{{question.text|safe}}</div>
        {{question.viewedBy.count}} Views, {{question.likedBy.count}} Upvotes, {{question.dislikedBy.count}} Downvotes |
        {% for tag in question.tags.all %}
            <button type="submit" style="background-color: #ffc368;">
                <i>{{tag.name}}</i>
            </button>
        {% endfor %}
        {% if user == question.author %}
            | <a href="/questions/{{question.id}}/edit">Edit Question</a>
        {% endif %}
    </p>
    <form action="{% url 'questions:follow_bookmark' question.id %}" method="POST">
        {% csrf_token %}
        {% if user in question.users_bookmarked.all %}
            <button type="submit", name="action", value="unbookmark">Unbookmark</button>
        {% else %}
            <button type="submit" name="action", value="bookmark">Bookmark</button>
        {% endif %}
        {% if user in question.users_following.all %}
            <button type="submit" name="action", value="unfollow">Unfollow</button>
        {% else %}
            <button type="submit" name="action", value="follow">Follow</button>
        {% endif %}
    </form>
    <form id="vote_form" method="POST">
        {% csrf_token %}
        Using AJAX
        <button onclick="submitVote('question','{{question.id}}','upvote')">Upvote</button>
        <button onclick="submitVote('question','{{question.id}}','downvote')">Downvote</button>
     </form>
     <div id="output"></div>
    <!-- add buttons for up and downvotes -->
    <form action="{% url 'questions:vote' question.id %}" method="POST">
        {% csrf_token %}
        Using FORM
        <input type="hidden" name="obj_type" value="question">
        <button type="submit", name="vote",  value="upvote">Upvote</button>
        <button type="submit", name="vote",  value="downvote">Downvote</button>
    </form>
    <ul id="q_comments">
        {% for comment in question.comment_set.all %}
            <li>
                <div style="background-color:#ddd;">{{comment.text|safe}}</div>
                --- Commented on {{comment.pub_date}} by {{comment.author.name}}
                {% if user == comment.author %}
                    | <a href="#">Edit</a>
                {% endif %}
            </li>


            <hr>
        {% endfor %}
        <form action="{% url 'questions:add_comment' question.id %}" method="POST">
            {% csrf_token %}
            <input type="text" maxlength="200" name="comment_text" placeholder="Add a comment">
            <input type="hidden" name="obj_type" value="question">
            <button type="submit", name="question_id",  value={{question.id}}>Comment</button>
        </form>
          </ul>

    <hr>

    <h2>{{ question.answer_set.count }} Answer{% if question.answer_set.count > 1 %}s{% endif %}
    </h2>
    <ul>
        {% for answer in question.answer_set.all %}
            <li>
                <div style="background-color:rgb(226, 233, 215);">{{answer.text|safe}}</div>
                {{answer.likedBy.count}} Upvotes, {{answer.dislikedBy.count}} Downvotes
                --- Answered on {{answer.pub_date}} by {{answer.get_author_name}} <br><br>
                {% if user == answer.author %}
                    | <a href="#">Edit</a>
                {% endif %}
                <form action="{% url 'questions:vote' question.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="obj_type" value="answer">
                    <input type="hidden" name="answer_id" value={{answer.id}}>
                    <button type="submit", name="vote",  value="upvote">Upvote</button>
                    <button type="submit", name="vote",  value="downvote">Downvote</button>
                </form>
                <hr>
                <ul>
                    {% for comment in answer.comment_set.all %}
                        <li>
                            <div style="background-color:#ddd;">{{comment.text|safe}}</div>
                            --- Commented on {{comment.pub_date}} by {{comment.author.name}}
                            {% if user == comment.author %}
                                | <a href="#">Edit</a>
                            {% endif %}
                        </li>
                        <hr>
                    {% endfor %}
                    <form action="{% url 'questions:add_comment' question.id %}" method="POST">
                        {% csrf_token %}
                        <input type="text" maxlength="200" name="comment_text" placeholder="Add a comment">
                        <input type="hidden" name="obj_type" value="answer">
                        <button type="submit", name="answer_id",  value={{answer.id}}>Comment</button>
                    </form>
                </ul>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Your answer</h2>
    <form action="{% url 'questions:view_question' question.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <input type="submit" value="Post your answer">
    </form>
</body>
<script>
if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
}
function submitVote(obj_type,id,vote){
    $.ajax({
        type : 'POST',
        url  : "{% url 'questions:ajax_posting' %}",
        data : {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'obj_type' : obj_type,
            'question_id' : id,
            'answer_id' : id,
            'vote' : vote,
        },
        success :  function(data){
            $('#output').html(data.msg)
        },
        error : function(data){
            console.log("error")
        }
    });
}
</script>

{%endblock%}