{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block insert_title %}
{{ question.title }} - MindHive
{% endblock %}

{% block insert_content %}
<h1>{{question.title}}</h1>
<p class="container">
    Asked on {{question.pub_date}} by
    {% if question.get_author_name == 'Anonymous User' %}
    {{question.get_author_name}}
    {% else %}
    <a href="{% url 'users:view_user' pk=question.get_author_id %}">{{question.get_author_name}}</a>
    {% endif %}
    | Viewed By {{question.viewedBy.count}} users<br>
    <hr>
<div class="container" style="background-color:rgb(222, 237, 241); padding:5px;">{{question.text|safe}}</div>
</p>

<p class="container">
    <!-- add buttons for up and downvotes -->
<form class="vote_form" style="display: inline;">
    {% csrf_token %}
    <input type="hidden" name="obj_type" value="question">
    <input type="hidden" name="obj_id" value="{{question.id}}">
    <!-- check if user has upvoted the question -->
    <button type="submit" , class="upvote" , value="upvote">
        <span class="like_count" style="color: green;">{{question.likedBy.count}}</span>
        {% if user in question.likedBy.all %}
        <i class="fa-solid fa-thumbs-up"></i>
        {% else %}
        <i class="fa-regular fa-thumbs-up"></i>
        {% endif %}
    </button>
    <button type="submit" , class="downvote" , value="downvote">
        <span class="dislike_count" style="color: red;">{{question.dislikedBy.count}}</span>
        {% if user in question.dislikedBy.all %}
        <i class="fa-solid fa-thumbs-down"></i>
        {% else %}
        <i class="fa-regular fa-thumbs-down"></i>
        {% endif %}
    </button>
</form>

&nbsp; &nbsp;

<form class="follow-bookmark-form icon-only-buttons" style="display:inline">
    {% csrf_token %}
    <input type="hidden" name="question_id" value="{{question.id}}">

    <button type="submit" class="bookmark" name="action" , value="bookmark">
        {% if user in question.users_bookmarked.all %}
        <i class="fa-solid fa-bookmark"></i>
        {% else %}
        <i class="fa-regular fa-bookmark"></i>
        {% endif %}
    </button>

    <button type="submit" class="follow" name="action" , value="follow">
        {% if user in question.users_following.all %}
        <i class="fa-solid fa-star"></i>
        {% else %}
        <i class="fa-regular fa-star"></i>
        {% endif %}
    </button>
</form>

<form class="icon-only-buttons" action="{% url 'questions:report' question.id %}" method="GET" style="display:inline">
    {% csrf_token %}
    <input type="hidden" name="obj_type" value="q">
    <button type="submit" name="id" , value={{question.id}}>
        <i class="fa-solid fa-ban"></i>
    </button>
</form>

&nbsp; &nbsp;

{% for tag in question.tags.all %}
{% if tag in user.favouriteTags.all %}
<button type="submit" style="background-color: #b9ffa3;">
    {% else %}
    <button type="submit" style="background-color: #ffd992;">
        {% endif %}
        <i><a href="#" class="tag_questions">{{tag.name}}</a></i>
    </button>
    {% endfor %}
</button>

{% if user == question.author %}
&nbsp; &nbsp;
<a href="/questions/{{question.id}}/edit">Edit Question</a>
{% endif %}

</p>

<ul id="q_comments">
    {% for comment in question.comment_set.all %}
    <li>
        <div style="background-color:#ddd;">{{comment.text|safe}}</div>
        --- Commented on {{comment.pub_date}} by
        {% if comment.get_author_name == 'Anonymous User' %}
        {{comment.get_author_name}}
        {% else %}
        <a href="{% url 'users:view_user' pk=comment.get_author_id %}">{{comment.get_author_name}}</a>
        {% endif %}
    </li>
    <hr>
    {% endfor %}

    <form action="{% url 'questions:add_comment' question.id %}" method="POST">
        {% csrf_token %}
        <input type="text" maxlength="200" name="comment_text" placeholder="Add a comment">
        <input type="hidden" name="obj_type" value="question">
        <button type="submit" , name="question_id" , value={{question.id}}>Comment</button>
    </form>
</ul>

<hr>

<h2>{{ question.answer_set.count }} Answer{% if question.answer_set.count > 1 %}s{% endif %}
</h2>
<ul>
    {% for answer in question.answer_set.all %}
    <li>
        <div style="background-color:rgb(226, 233, 215);">{{answer.text|safe}}</div>
        --- Answered on {{answer.pub_date}} by
        {% if answer.get_author_name == 'Anonymous User' %}
        {{answer.get_author_name}}
        {% else %}
        <a href="{% url 'users:view_user' pk=answer.author_id %}">{{answer.get_author_name}}</a>
        {% endif %}
        <br>
        <form class="vote_form" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="obj_type" value="answer">
            <input type="hidden" name="obj_id" value={{answer.id}}>
            <button type="submit" , class="upvote" , value="upvote">
                <span class="like_count" style="color: green;">{{answer.likedBy.count}}</span>
                {% if user in answer.likedBy.all %}
                <i class="fa-solid fa-thumbs-up"></i>
                {% else %}
                <i class="fa-regular fa-thumbs-up"></i>
                {% endif %}
            </button>
            <button type="submit" , class="downvote" , value="downvote">
                <span class="dislike_count" style="color: red;">{{answer.dislikedBy.count}}</span>
                {% if user in answer.dislikedBy.all %}
                <i class="fa-solid fa-thumbs-down"></i>
                {% else %}
                <i class="fa-regular fa-thumbs-down"></i>
                {% endif %}
            </button>
        </form>
        |
        <form action="{% url 'questions:report' question.id %}" method="GET" style="display:inline">
            {% csrf_token %}
            <input type="hidden" name="obj_type" value="a">
            <button type="submit" name="id" , value={{answer.id}}>
                <i class="fa-regular fa-circle-xmark"></i>
            </button>
        </form>
        <hr>
        <ul>
            {% for comment in answer.comment_set.all %}
            <li>
                <div style="background-color:#ddd;">{{comment.text|safe}}</div>
                --- Commented on {{comment.pub_date}} by
                {% if comment.get_author_name == 'Anonymous User' %}
                {{comment.get_author_name}}
                {% else %}
                <a href="{% url 'users:view_user' pk=comment.get_author_id %}">{{comment.get_author_name}}</a>
                {% endif %}
                |
                <form action="{% url 'questions:report' question.id %}" method="GET" style="display:inline">
                    {% csrf_token %}
                    <input type="hidden" name="obj_type" value="c">
                    <button type="submit" name="id" , value={{comment.id}}>
                        <i class="fa-regular fa-circle-xmark"></i>
                    </button>
                </form>
            </li>
            <hr>
            {% endfor %}
            <form action="{% url 'questions:add_comment' question.id %}" method="POST">
                {% csrf_token %}
                <input type="text" maxlength="200" name="comment_text" placeholder="Add a comment">
                <input type="hidden" name="obj_type" value="answer">
                <button type="submit" , name="answer_id" , value={{answer.id}}>Comment</button>
            </form>
            <hr>
        </ul>
    </li>
    {% endfor %}
</ul>

<hr>

<h2>Your answer</h2>
<form action="{% url 'questions:add_answer' question.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.media }}
    <input type="submit" value="Post your answer">
</form>

<script>
    $(document).ready(function () {
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        $("#questionButton").closest('a').addClass("active");

        $(".follow-bookmark-form").find(':button').click(function (e) {
            var form = $(this).closest('form');
            var dataString = form.serializeArray();
            dataString.push({ name: 'action', value: $(this).val() });
            $.ajax({
                type: "POST",
                url: "{% url 'questions:follow_bookmark' %}",
                data: dataString,
                success: function (data) {
                    var result = JSON.parse(data);
                    if (result['status'] == 'followed') {
                        form.find('.follow i').removeClass("fa-regular").addClass("fa-solid");
                    }
                    else if (result['status'] == 'bookmarked') {
                        form.find('.bookmark i').removeClass("fa-regular").addClass("fa-solid");
                    }
                    else if (result['status'] == 'unfollowed') {
                        form.find('.follow i').removeClass("fa-solid").addClass("fa-regular");
                    }
                    else {
                        form.find('.bookmark i').removeClass("fa-solid").addClass("fa-regular");
                    }
                },
                error: function () {
                    alert("error");
                }
            });
            e.preventDefault();
        });

        $(".vote_form").find(':button').click(function (e) {
            var form = $(this).closest('form');
            var dataString = form.serializeArray();
            dataString.push({ name: 'vote', value: $(this).val() });
            $.ajax({
                type: "POST",
                url: "{% url 'questions:vote' question.id%}",
                data: dataString,
                success: function (data) {
                    var result = JSON.parse(data);
                    form.find(".like_count").html(result.likes);
                    form.find(".dislike_count").html(result.dislikes);
                    form.find(".upvote i").removeClass("fa-solid").addClass("fa-regular");
                    form.find(".downvote i").removeClass("fa-solid").addClass("fa-regular");
                    if (result.status == "liked") {
                        form.find(".upvote i").removeClass("fa-regular").addClass("fa-solid");
                    } else if (result.status == "disliked") {
                        form.find(".downvote i").removeClass("fa-regular").addClass("fa-solid");
                    }
                },
                error: function () {
                    alert("error");
                }
            });
            e.preventDefault();
        })
    })
</script>
{% endblock %}